* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

nav {
  border: solid 1px gray;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 15px 0;
}

li {
  margin-left: 20px;
}

.main {
  padding: 50px 0;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.content1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.content2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.content3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.content4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.content5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.content6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.content7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.content8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.content9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.content10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.content11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.content12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  line-height: 120px;
  color: white;
  text-align: center;
  background-color: gray;
}